body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#left-content, #right-content, #mid-content{
  color: #fff;
}


.gameBox{
border-radius: 50px;
background: #27282f;
box-shadow:  -28px -28px 57px #212228,
             28px 28px 57px #2d2e36;
}


canvas {

  margin: auto auto auto;
  display: block ;
}

section {
  position: relative ;
  margin-top: auto;
  margin-bottom: auto;
}

#gameDiscription p {
  margin-bottom: 0.4rem;
}

#main-page-content{
  background-color: #1a1b1e !important;
}

.rollButton {
  position: absolute;

    left: 50%;
    top: 50%;
    width:95px;
    height:95px;

    transform: translate(-50%, -50% );

  

    border-radius: 50%;
    border: 2px solid black;

    background-color: #de645b;

    font-size: 28px;
    cursor: pointer;

    color: white;
    }
